{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_messages %}
{% block title %}Welcome!{% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4"></h1>
    <h1 class="my-4"></h1>
    <div class="card">
        <div class="card-body p-5 bg-light">
            <div class="display-4">Profile</div>
            <h3 class="my-4">Please get your unique key before start dialog with bot!</h3>
            <hr>
            <p>{{ get_unique_key }}</p>
            <hr>
            <a class="btn btn-primary btn-lg" target="_blank" href="{{ start }}">Start dialog</a>
        </div>
    </div>
</div>
{% endblock %}